.custom-btn {
    background: #3b3b3b;
    border: unset;
    color: #fff;
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1rem;

    transition: opacity 0.4s ease;

    &:hover {
        opacity: 0.8;
    }
}