.product-card {

    box-shadow: 0 0 10px #e2e2e2;
    padding: 1rem;
    border-radius: 10px;

    img {
        max-width: 100%;
        // border: 1px solid var(--color-light-200);
    }

    &__name {
        font-weight: 300;
    }

}