.product-card {

    box-shadow: -4px 6px 10px #d6d6d6;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #ddd;

    img {
        max-width: 100%;
        // border: 1px solid var(--color-light-200);
    }

    &__name {
        font-weight: 600;
        font-size: 1rem;
    }

    &__price {
        font-weight: 400;
        font-size: 1rem;
    }

    &__footer {
        display: flex;
        gap: 1rem;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        margin-top: 1rem;

        button {
            flex: 1;
            padding: 10px 20px;
            border: unset;
            background: var(--color-light-100);
            border-radius: 10px;
            font-weight: 600;
            font-size: 0.9rem;
            cursor: pointer;
            transition: 0.4s ease;

            &:hover {
                opacity: 0.8;
            }
        }

        input {
            width: 40px;
            height: 100%;
            padding: 10px;
            text-align: center;
            background: var(--color-light-500);
            border: unset;
            border-radius: 10px;
        }
    }

}