.products {
    &__wrapper {
        display: grid;
        grid-template-columns: 200px auto;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}