:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark-800: #61210fff;
  --color-dark-500: #ea2b1fff;
  --color-light-500: #edae49ff;
  --color-light-200: #f9df74ff;
  --color-light-100: #f9edccff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}